{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/estilobodega.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/bodega.js' %}"></script>
    <title>Gestor de Bodega</title>
</head>
<body>

    <header class="logo2">
        <div>
            <img class="logo" src="{% static 'img/LogoCorto.png' %}" alt="Logo">
        </div>
        <div class="navIndex">
            <a href="productos">Inicio</a>
        </div>
        <div class="navIndex">
            <a href="unidades">Unidades</a>
        </div>
        <div class="navIndex">
            <a href="historial">Historial</a>
        </div>
        <div class="navIndex">
            <a href="{% url 'logout' %}">Cerrar sesión</a>
        </div>
    </header>

    
    <nav>
        <a href="?categoria=todo">Todo</a>
        {% for categoria in categorias %}
            <a href="?categoria={{ categoria.id }}" {% if categoria.id == categoria_filter %}class="active"{% endif %}>{{ categoria.nombre_categoria }}</a>
        {% endfor %}

    </nav>

    <form method="get" action="{% url 'view_productos' %}">
        <div class="mb-3">
            <label for="search" class="form-label">Buscar producto:</label>
            <input type="text" class="form-control" id="search" name="q" value="{{ request.GET.q }}">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <div class="container mt-5">
        <h2>Productos</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Precio Total</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr id="fila{{ forloop.counter }}" >
                    <td>{{ producto.nombre_producto }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>
                        {% if producto.cantidad < 10 %}
                        <div class="bajo-stock">
                            <span>{{ producto.cantidad }}</span>
                        </div>    
                        {% else %}
                            {{ producto.cantidad }}
                        {% endif %}
                    </td>
                    <td>${{ producto.precio|floatformat:0 }}</td>
                    <td>${{ producto.precio_total|floatformat:0 }}</td>
                    <td>{{ producto.categoria.nombre_categoria }}</td> 
                    <td>
                        <button class="btn-editar" data-fila="{{ forloop.counter }}">Editar</button>
                        <button>X</button>
                    </td> 
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="dropdown">
        <button class="floating-button dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Opciones
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="crear/nuevo">Agregar Producto</a></li>
            <li><a class="dropdown-item" href="crear/existente">Agregar Stock de Producto</a></li>
            <li><a class="dropdown-item" href="crear/salida">Registrar Salida de Producto</a></li>
        </ul>
    </div>
    
    <hr>
    <footer>
        <p>Derechos de autor © 2024 CEM Ovalle</p>
    </footer>
</body>
</html>
