{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'view_productos' %}">
            <img src="{% static 'img/LogoCorto.png' %}" alt="Logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_productos' %}">
                        <i class="material-icons align-middle">home</i> Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_unidades' %}">
                        <i class="material-icons align-middle">store</i> Unidades
                    </a>
                </li>
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_solicitudes' %}">
                            <i class="material-icons align-middle">add_shopping_cart</i> Solicitudes
                        </a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_historial' %}">
                        <i class="material-icons align-middle">history</i> Historial
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">
                        <i class="material-icons align-middle">exit_to_app</i> Cerrar sesión
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
