{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/estiloproducto.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/forms.js' %}"></script>
    <title>Agregar producto</title>
</head>
<body>

    {% include 'navbar.html' %}
    
    <div class="container mt-4 shadow-sm p-3 bg-body-tertiary rounded">
        <h1 class="titulo-agregar">Agregar producto</h1>
        <hr class="separador">
        <form action="{% url 'create_producto' %}" method="POST">
            {% csrf_token %}
            <div class="productos-container">
                <div class="producto p-3 bg-body-tertiary">
                    <div class="mb-3">
                        <label for="nombreProducto1" class="form-label">Nombre del Producto</label>
                        <input type="text" class="form-control" id="nombreProducto1" name="nombreProducto" required>
                    
                        <label for="descripcion1" class="form-label mt-3">Descripción</label>
                        <textarea class="form-control" id="descripcion1" name="descripcion" rows="4"></textarea>
                    </div>

                    <div class="mb-3" >
                        <label for="precio1" class="form-label">Precio</label>
                        <input type="number" class="form-control w-50" id="precio1" name="precio" required min="0">

                        <label for="categoria1" class="form-label mt-3">Categoría</label>
                        <select class="form-select" id="categoria1" name="categoria" required>
                            <option value="select-categoria">--Seleccione una categoria--</option>
                            {% for categoria in categorias %}
                            <option value="{{ categoria.id }}">{{ categoria.nombre_categoria }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="cantidad1" class="form-label">Cantidad</label>
                        <input type="number" class="form-control w-50" id="cantidad1" name="cantidad" required min="0">

                        <label for="proveedor1" class="form-label mt-3">Proveedores</label>
                        {% for unidad in unidades %}
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="proveedor{{ unidad.id }}" name="proveedores" value="{{ unidad.id }}">
                                <label class="form-check-label" for="proveedor{{ unidad.id }}">{{ unidad.nombre_Unidad }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        
            <button type="submit" class="btn btn-primary btn-agregar">Guardar</button>
        </form>
    </div>

    <footer class="p-3 bg-body-tertiary mt-5 bg-light">
        <p class="text-center">Derechos de autor © 2024 CEM Ovalle</p>
    </footer>
</body>
</html>
