{% load static %}

{% if user.is_authenticated %}
    {% if user.is_staff %}
        <!DOCTYPE html>
        <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="{% static 'css/estiloproducto.css' %}">
            <link rel="stylesheet" href="{% static 'css/nav.css' %}">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <script src="{% static 'js/forms.js' %}"></script>
            <title>Agregar productos</title>
        </head>
        <body>

        {% include 'navbar.html' %}


        
            
        <div class="container mt-4">
            {% for solicitud in solicitudes_pendientes %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ solicitud.fecha }}</h5>
                        <p class="card-text">{{ solicitud.usuario.username }} solicita:</p>
                        {% for detalle in solicitud.detalles_solicitud.all %}
                            <p class="card-text">
                                {{ detalle.cantidad }} unidades de {{ detalle.producto.nombre_producto }}.
                                <form method="POST" action="{% url 'modificar_cantidad' solicitud.id detalle.producto.id %}" class="mb-2">
                                    {% csrf_token %}
                                    <label for="nueva_cantidad_{{ detalle.producto.id }}">Nueva cantidad:</label>
                                    <input type="number" name="nueva_cantidad" id="nueva_cantidad_{{ detalle.producto.id }}" min="0" value="{{ detalle.cantidad }}" class="form-control w-25 d-inline-block">
                                    <button type="submit" class="btn btn-primary">Modificar Cantidad</button>
                                </form>
                            </p>
                            {% endfor %}
                            <form method="POST" action="{% url 'gestionar_solicitud' solicitud.id %}" class="d-inline-block">
                                {% csrf_token %}
                                <button type="submit" name="aceptar" class="btn btn-success">Aceptar</button>
                            </form>
                            <form method="POST" action="{% url 'eliminar_solicitud' solicitud.id %}" class="d-inline-block">
                                {% csrf_token %}
                                <button type="submit" name="declinar" class="btn btn-danger">Declinar</button>
                            </form>
                    </div>
                </div>
                {% empty %}
                    <div class="container mt-4">
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">¡Todo al día!</h4>
                            <p>Actualmente no hay solicitudes pendientes. ¡Buen trabajo!</p>
                        </div>
                    </div> 
            {% endfor %}
        </div>

        <footer class="p-3 bg-body-tertiary mt-5 bg-light">
            <p class="text-center">Derechos de autor © 2024 CEM Ovalle</p>
        </footer>
        </body>
        </html>
    {% endif %}
{% endif %}
