{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/estilobodega.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/unidad.js' %}"></script>
    <title>Agregar unidades</title>
</head>
<body>
    <style>
        body {
            background: linear-gradient(135deg, #5e76ff 30%, #0044ff 70%);
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-white bg-light">
        <div class="container">
            <img src="{% static 'img/LogoCorto.png' %}" href="{% url 'view_productos' %} alt="Logo" class="logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_productos' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_unidades' %}">Unidades</a>
                    </li>
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'view_solicitudes' %}">Solicitudes</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_historial' %}">Historial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5 shadow-sm p-3 mt-5 bg-body-tertiary rounded w-50">
        <div class="mr-3">
            <h2>Unidades</h2>
    
            <table class="table table-bordered table-hover shadow-sm p-3 bg-body-tertiary rounded">
                <thead>
                    <tr>
                        <th scope="col">Unidad</th>
                        <th scope="col">Gasto total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for perfil in perfiles %}
                        <tr>
                            <td>{{ perfil.user.username }}</td>
                            <td>{{ perfil.gasto_acumulado }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <div class="ml-3">
            <h2>Proveedores</h2>
    
            <table class="table table-bordered table-hover shadow-sm p-3 bg-body-tertiary rounded">
                <thead>
                    <tr>
                        <th scope="col">Proveedor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unidad in unidades %}
                        <tr>
                            <td>{{ unidad.nombre_Unidad }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <button class="btn btn-primary floating-button" data-bs-toggle="modal" data-bs-target="#crearUnidadModal">Crear Unidad</button>

    <div class="modal fade" id="crearUnidadModal" tabindex="-1" aria-labelledby="crearUnidadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crearUnidadModalLabel">Crear Unidad</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'unidad' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nombre_unidad" class="form-label">Nombre de la Unidad:</label>
                            <input type="text" class="form-control" id="nombre_unidad" name="nombre_unidad" required>
                        </div>
                        <div class="mb-3">
                            <label for="categoria_unidad" class="form-label">Tipo de Unidad:</label>
                            <select class="form-select" id="categoria_unidad" name="categoria_unidad" required>
                                <option value="" disabled selected>-- Seleccione una categoría --</option>
                                {% for categoria in categorias %}
                                    <option value="{{ categoria.id }}">{{ categoria.categoria_unidad }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-primary">Crear Unidad</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="p-3 bg-body-tertiary mt-5 bg-light">
        <p class="text-center">Derechos de autor © 2024 CEM Ovalle</p>
    </footer>
</body>
</html>