table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    padding: 10px;
    text-align: left;
    background-color: #f2f2f2;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
}

td.stock, td.precio {
    width: 50px;
}

td.descripcion {
    width: 500px;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.opciones-adicionales {
    position: absolute;
    top: 50px;
    right: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: none;
    z-index: 1000;
}

.opciones-adicionales button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
}

.bajo-stock {
    margin-right: 10px;
    font-weight: bold; 
}